:root {
  --shadow: #fd6f21;
  --ring: #ffffff;
  --blend1: #fc5830;
  --blend2: #f98c24;
  --blend-from: 0%;
  --blend-to: 100%;
  --blend-dir: top right;
}

//FONTS

$size-big: calc(30px + 4.684vw); //90px
$size-medium: calc(20px + .62vw); //32px
$size-normal: calc(15px + .46vw); //24px


//COLORS

$color-main: rgba(235, 242, 246, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);