.weather {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0;
  }

  .temp_min,
  .temp_max {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 5px;

  }

  .temp {
    margin-right: 10px;
  }

  .degree {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 6px;
      left: -6px;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      border: 1px solid $color-white;
    }
  }

  .weather__item__wrapper {
    width: 100%;
  }

  .weather__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    background-color: $color-darker-bg;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);

    &.weather__item_current {
      &:hover {
        .weather__save {
          opacity: .8;
          visibility: visible;
        }
      }
    }
  }

  .weather__current {
    position: relative;
    z-index: 1;
    flex: 1 1 400px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding: 20px 80px 20px 20px;
    background: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    border-radius: 20px;
  }

  .weather__current__top {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .weather__current__left {
    padding-right: 60px;
  }

  .weather__current__bottom {
    display: flex;
  }

  .weather__current__city {
    font-size: $size-normal;
  }

  .weather__current__temp {
    display: flex;

    .temp {
      line-height: 1;
      font-size: $size-big;
    }
  }

  .weather__info {
    padding-left: 0;
    column-count: 2;

    .weather__info__item {
      list-style: none;
      text-align: right;
    }

    .text {
      padding-right: 10px;
    }

    .value {
      font-weight: bold;
    }
  }

  .weather__week__title {
    font-weight: bold;
    font-size: $size-normal;
  }

  .weather__week__wrapper {
    flex: 1 1 60%;
    padding: 20px;
  }

  .weather__week {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    [icon] {
      width: 60px;
      height: 60px;
    }

    .weather__item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      transition: all .4s ease;
      background-color: $color-dark-bg;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .weather__week__temp {
    display: flex;
  }

  .weather__save {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    opacity: .5;
    transition: box-shadow .4s ease, opacity .4s ease,
    opacity .3s ease;

    &:hover {
      opacity: 1 !important;

      .weather__save__info {
        visibility: visible;
      }
    }
  }

  .weather__save__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    color: $color-black;
    background-color: $color-main;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);

    i {
      font-size: 16px;
      color: $color-black;
    }
  }

  .weather__save__info {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: calc(50% - 100px);
    width: 200px;
    padding: 10px;
    opacity: .8;
    visibility: hidden;
    border-radius: 10px;
    color: $color-black;
    background-color: $color-white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
    transition: opacity .2s ease, visibility .2s ease;
    font-size: 14px;
    text-align: center;
  }

  .weather__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;

    a {
      display: block;
      color: $color-white;
      text-decoration: none;
      &:hover {
        color: $color-black;
        .weather__item{
          transform: scale(1.05);
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
          background-color: $color-white;
        }
      }
    }

    .weather__item {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 10px;
      transition: all .3s ease;

    }

    .weather__item__temp {
      display: flex;
      align-items: center;
    }

    .temp {
      font-size: $size-medium;
    }
  }
}

@media screen and (max-width: 560px) {
  .v-application {
    .custom-container {
      padding: 32px 15px !important;
    }
  }
  .weather {
    .weather__current {
      flex: 1 1 100%;
      padding: 20px 40px 20px 20px;
    }
  }
}